/* -----------------------------------------------
  :: GLOBAL
  --------------------------------------------- */

body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
  color: #c99065;
}

ul{
  margin:0; 
  padding:0;
  list-style-type: none;
}

img{
  max-width: 100%;
}

/* -----------------------------------------------
  :: HEADER
  --------------------------------------------- */

/* ------------
  :: Mobile
  ---------- */


header{
  background: url('../img/hero-bg.jpg') center center;
  background-size: cover;
  height: 335px; 
}

.logo{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url('../img/logo.svg');
  opacity: 0.5;
  position: relative;
  top: 22px;
}

.header-nav-list{
  text-align: center;
  margin-top: 42px;
  margin-bottom: 40px;
}

.header-nav-item{ 
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
}

.header-nav-link{
  color: rgba(0,0,0,0.7);
  font-weight: 600;
  font-size: 0.9em;
}

.header-nav-link:hover{
  color: rgba(0,0,0,1);
}

header h1{
  color: #fff;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 49px;
  font-weight: 700;
}

.header-title{
  border: 10px solid white;
  color: #fff;
  padding: 0.2em 0.5em;
}

.tagline{
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1;
}

/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 640px){

  header{
    height: 375px;
  }

  header h1{
    clear: both;
    font-size: 3.9em;
    padding-top: 104px ;
    font-weight: 700;
    margin-bottom: 20px;
  }


  .logo{
    float: left;
    margin-left: 15px;
    top: 10px;
  }

  .header-nav-list{
    float: right;
    margin-top: 19px;
    margin-bottom: 0;
  }
  
  .header-title{
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 0.05em 0.5em;
  }

}

/* -----------------------------------------------
  :: MODULES
  --------------------------------------------- */

/* clear fix hack to contain floats and margins */ 
.module:before, .module:after{
  content: "";
  display: table;
}

.module:after{
  clear: both;
}

.module{
  padding-bottom: 100px;
}

.module:nth-of-type(2n){
  background-color: #e5eaee;
}

.module-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #e1c285;
  padding: 50px 0;
}

/* -----------------------------------------------
  :: ABOUT MODULE
  --------------------------------------------- */

.about-pic{
  display: block;
  margin: 52px auto 0 auto;
  border-radius: 50%;
}

.about-blurb{
  text-align: center;
  font-size: 1.6em;
  max-width: 600px;
  font-weight: 300;
  margin: 65px auto 10px auto;
  padding: 0 28px;

}

/* SPECIALTY ICONS */

.specialty{
  display: flex;
  flex-wrap: wrap; 
  width: 356px;
  margin: 10px auto 0 auto;
}

.specialty-item{
  background-color: #e5eaee;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 11px 39px;
}
.specialty-item path{
  fill: #c99065;
}

.specialty-item svg{
  width: inherit;
  height: inherit;
}

/* SKILLS */

.about-skills-list{
  margin: 103px auto 0 auto;
  width: 230px;
}

.skill-item{
  margin-top:27px;
}

.skill-unit{
  display: inline-block;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #e5eaee;
  margin-right: 5px;
}

.skill-title{
  font-size: 0.9em;
  font-weight: 300;
  color: #999;
}

.skill-level-1 .skill-unit:nth-of-type(-n+1){
  border: 2px solid #c99065;
}

.skill-level-2 .skill-unit:nth-of-type(-n+2){
  border: 2px solid #c99065;
}

.skill-level-3 .skill-unit:nth-of-type(-n+3){
  border: 2px solid #c99065;
}

.skill-level-4 .skill-unit:nth-of-type(-n+4){
  border: 2px solid #c99065;
}

.skill-level-5 .skill-unit:nth-of-type(-n+5){
  border: 2px solid #c99065;
}

.skill-level-6 .skill-unit:nth-of-type(-n+6){
  border: 2px solid #c99065;
}

.skill-level-7 .skill-unit:nth-of-type(-n+7){
  border: 2px solid #c99065;
}

.skill-level-8 .skill-unit:nth-of-type(-n+8){
  border: 2px solid #c99065;
}

.skill-level-9 .skill-unit:nth-of-type(-n+9){
  border: 2px solid #c99065;
}

.skill-level-10 .skill-unit:nth-of-type(n){
  border: 2px solid #c99065;
}


/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 640px){

  .about-pic{
    margin: 0;
  }

  /* SPECIALTY ICONS */

  .specialty{
    margin-top: 60px;
    width: 100%;
    max-width: 780px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .specialty-item{
    margin: 47px 8px;

  }

  .item-pencil{
    order: 1;
  }

  .item-mouse{
    order: 2;
  }

  .about-pic{
    order: 3;
  }

  .item-web{
    order: 4;
  }

  .item-video{
    order: 5;
  }

  /* SKILLS */

  .about-skills-list{
    width: 606px;
  }

  .skill-item{
    float: left;
    width: 228px;
  }

  .skill-item:nth-of-type(2n+1){
    width: 374px;
  }
}

/* -----------------------------------------------
  :: WORK MODULE
  --------------------------------------------- */

.work-module{
  overflow-x: hidden;
}

.work-container{
  width: 200%;
}
  
/* WORK THUMBS */

.work-list-wrap{
  width: 50%;
  float:left;
  transition: transform 1s ease;
  overflow-y: auto;
}

.work-list-wrap.hide{
  transform: translateX(-100%);
}

.work-list{
  max-width: 960px;
}

.work-item{
  width: 50%;
  display: inline;
  float: left;
  cursor: pointer;
  position: relative;
}

.work-item img{
  width: 100%;
  max-width: 600px;;
}

.work-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(201, 144, 101, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 10;
  transition: transform 0.2s ease;
  transform: scale(0, 0);
}

.work-overlay.over{
  transform: scale(1, 1);
}

.work-overlay-title{
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #fff;
  line-height: 1.2;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);
}

/* WORK DESCRIPTION */ 

.work-desc-wrap{
  width: 50%;
  float:right;
  position: relative;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: transform 1s ease, opacity 2s ease, max-height 1s linear;
}

.work-desc-wrap.active{
  opacity: 1;
  max-height: 1000em;
  transform: translateX(-100%);
}

.work-desc{
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.desc-btn-back{
  display: inline-block;
  float: left;
  position: absolute;
  left: 4px;
  cursor: pointer;
  opacity: 0.5;
}

.desc-btn-back:hover{
  opacity: 1;
}

.desc-btn-back svg{
  width: 48px;
  height: 48px;
  margin-left: -4px;
}

.desc-btn-back path{
  fill: rgba(0, 0, 0, 0.4);
}

.work-desc-title{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px; 
  color: #c99065;
  width: 80%;
  float: left;
  margin: 0 0 40px 60px;
}

/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 760px){
  
  /* WORK THUMBS */

  .work-list{
    margin-right: auto;
    margin-left: auto;
  }
  
  .work-item{
    width: 25%;
  }

  .desc-btn-back{
    left: -60px;
  }
  
  .work-desc-title{
    margin-left: 0px;
  }

}








