/* -----------------------------------------------
  :: GLOBAL
  --------------------------------------------- */

body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
  color: #738685;

  /* #9CB7BE #5196B4; */
}

ul{
  margin:0; 
  padding:0;
  list-style-type: none;
}

img{
  max-width: 100%;
}

textarea{
  resize: none;
}

textarea:focus{
  outline: none;
}

input:focus{
  outline: none;
}

.hero-img{
  background: url('../img/sunny-beach.jpg') center center;
  background-size: cover;
}

address{
  font-style: normal;
}

/* skip links for accessibility */

.link__skip-all a{
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-bottom-right-radius: 8px;
  -webkit-transition: top 1s ease-out, background 1s linear;
  -o-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
}

.link__skip-all a:focus{
  position: absolute;
  left: 0;
  top: 0;
  background-color: darkred;
  -webkit-transition: top .1s ease-in, background .5s linear;
  -o-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear;
}

/* -----------------------------------------------
  :: HEADER
  --------------------------------------------- */

/* ------------
  :: Mobile
  ---------- */

.header{  
  height: 310px; 
}

.logo-container{
  width: 50px;
  margin: 0 auto;
  opacity: 0.5;
  position: relative;
  top: 22px;
}

.logo{
  width: 50px;
  height: 50px;
}

.header-nav-list{
  text-align: center;
  padding-top: 42px;
  margin-bottom: 40px;
}

.header-nav-item{ 
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
}

.header-nav-link{
  color: gray;
  color: rgba(0,0,0,0.7);
  font-weight: 600;
  font-size: 0.9em;
}

.header-nav-link:hover{
  color: black;
  color: rgba(0,0,0,1);
}

h1{
  color: #fff;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 25px;
  font-weight: 700;
}

.header-title{
  color: #fff;
}

.tagline{
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1;
}

/* ----------------
  :: LARGER MOBILE
  ----------------- */

@media screen and (min-width: 400px){
  
  h1{ font-size: 1.8em; }
}

/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 640px){

  header{ height: 375px; }

  h1{
    clear: both;
    font-size: 3.9em;
    padding-top: 80px ;
    font-weight: 700;
    margin-bottom: 20px;
  }


  .logo{
    float: left;
    margin-left: 15px;
    top: 10px;
  }

  .header-nav-list{
    float: right;
    margin-bottom: 0;
    margin-right: 30px;
  }
  
  .header-title{
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    
  }

  .first-name{

  }

}

/* -----------------------------------------------
  :: MODULES
  --------------------------------------------- */

  /* ------------
  :: Mobile
  ---------- */

/* clear fix hack to contain floats and margins */ 
.module:before, .module:after{
  content: "";
  display: table;
}

.module:after{
  clear: both;
}

.module{
  padding-bottom: 100px;
}

.module:nth-of-type(2n){
  background-color: #B8D5DB;
}

.module-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
  color: #738685;
  padding: 50px 0;
}

.sub-title{
  padding: 10px;
  font-size: 1em;
}

.work-project-title{
  font-size: 1.3em;
}

/* -----------------------------------------------
  :: ABOUT MODULE
  --------------------------------------------- */

  /* ------------
  :: Mobile
  ---------- */

.about-pic{
  display: block;
  margin: 52px auto 0 auto;
  border-radius: 50%;
}

.about-blurb{
  text-align: center;
  font-size: 1.6em;
  max-width: 600px;
  font-weight: 300;
  margin: 65px auto 10px auto;
  padding: 0 28px;

}

/* SPECIALTY ICONS */

.specialty{
  margin: 10px auto 0 auto;
}

/* FLEXBOX */

.specialty-items-wrap{
  width: 160px;
  margin: 0 auto;
}

.flexbox .specialty-items-wrap{
  width: 320px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; 
}

.specialty-item{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 11px 30px;
}
.specialty-item path{
  fill: #c99065;
}

.specialty-item svg{
  width: inherit;
  height: inherit;
}

/* SKILLS */

.about-skills-list{
  margin: 103px auto 0 auto;
  width: 230px;
}

.skill-item{
  margin-top:27px;
}

.skill-unit{
  display: inline-block;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #e5eaee;
  margin-right: 5px;
}

.skill-title{
  font-size: 0.9em;
  font-weight: 300;
  color: #999;
}

.skill-level-1 .skill-unit:nth-of-type(-n+1){
  border: 2px solid #3779A0;
}

.skill-level-2 .skill-unit:nth-of-type(-n+2){
  border: 2px solid #3779A0;
}

.skill-level-3 .skill-unit:nth-of-type(-n+3){
  border: 2px solid #3779A0;
}

.skill-level-4 .skill-unit:nth-of-type(-n+4){
  border: 2px solid #3779A0;
}

.skill-level-5 .skill-unit:nth-of-type(-n+5){
  border: 2px solid #3779A0;
}

.skill-level-6 .skill-unit:nth-of-type(-n+6){
  border: 2px solid #3779A0;
}

.skill-level-7 .skill-unit:nth-of-type(-n+7){
  border: 2px solid #3779A0;
}

.skill-level-8 .skill-unit:nth-of-type(-n+8){
  border: 2px solid #3779A0;
}

.skill-level-9 .skill-unit:nth-of-type(-n+9){
  border: 2px solid #3779A0;
}

.skill-level-10 .skill-unit:nth-of-type(n){
  border: 2px solid #3779A0;
}


/* ---------------
  :: Small Mobile
  ----------------- */


@media screen and (max-width: 319px){

  .specialty{
    width: 100%;
    min-width: 290px;
  }

  .specialty-item{
    margin-right:100px;
    margin-left: 100px;
  }
}


/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 750px){

  .about-pic{
    margin: 0 auto;
  }

  /* SPECIALTY ICONS */

  .specialty-items-wrap{
    width: 480px;
  }

  .specialty{
    margin-top: 60px;
    width: 100%;
    max-width: 780px;
  }

  .specialty-item{
    margin: 47px 8px;
  }

  /* FLEXBOX */

  .flexbox .specialty-items-wrap{
    width: 720px;
     -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .flexbox .item-pencil{
    order: 1;
    -webkit-order: 1; 
  }

  .flexbox .item-mouse{
    order: 2;
    -webkit-order: 2;
  }

  .flexbox .about-pic{
    order: 3;
    -webkit-order: 3;
  }

  .flexbox .item-web{
    order: 4;
    -webkit-order: 4;
  }

  .flexbox .item-video{
    order: 5;
    -webkit-order: 5;
  }

  /* SKILLS */

  .about-skills-list{
    width: 606px;
  }

  .skill-item{
    float: left;
    width: 228px;
  }

  .skill-item:nth-of-type(2n+1){
    width: 374px;
  }
}

/* -----------------------------------------------
  :: WORK MODULE
  --------------------------------------------- */

.work-module{
  overflow-x: hidden;
}

.work-container{
  width: 200%;
  height: 1852px;
}

.work-container:after, .work-subsection:after{
  content: "";
  display: block;
  clear: both;
}

.work-subsection{
  margin-top: 25px;
}

.subsection-first{
  margin-top: 0;
}



/* NO JS */

.no-js .work-module{
  background-color: #e5eaee;
}
  
  
/* WORK THUMBS */

.work-list-wrap{
  width: 50%;
  float:left;
  transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  overflow-y: auto;
}

.work-list-wrap-hide{
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.work-list{
  max-width: 960px;
}

.work-item{
  margin: 10px;
  position: relative;
}

.work-item img{
  width: 100%;
  max-width: 300px;
  height: 180px;
}

.work-overlay{
  width: 100%;
  height: 100%;
  background-color: gray;
  background-color: rgba(201, 144, 101, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 10;
  transition: transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
}

.work-overlay-over{
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
}

.work-overlay-title{
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #fff;
  line-height: 1.2;
  font-weight: 300;
  top: 30%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.work-project-title{
  margin: 17px 0px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

/* WORK DESCRIPTION */ 

.work-desc-wrap{
  width: 50%;
  float:right;
  position: relative;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: transform 1s ease, opacity 2s ease, max-height 1s linear;
  -webkit-transition: -webkit-transform 1s ease, opacity 2s ease, max-height 1s linear;
}

.work-desc-wrap-active{
  opacity: 1;
  max-height: 1000em;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.work-desc{
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.desc-btn-back{
  display: inline-block;
  float: left;
  position: absolute;
  left: 4px;
  cursor: pointer;
  opacity: 0.5;
}

.desc-btn-back:hover{
  opacity: 1;
}

.desc-btn-back svg{
  width: 48px;
  height: 48px;
  margin-left: -4px;
}

.desc-btn-back path{
  fill: rgba(0, 0, 0, 0.4);
}

.work-desc-title{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px; 
  color: #c99065;
  width: 80%;
  float: left;
  margin: 0 0 9px 25px;
}

/* WORK SUMMARY - PROJECT INFO */

.summary-role-list{
  list-style-type: disc;
}

.summary-subsection{
  margin: 100px 10px;
}

.work-desc-about{
  clear:left;
}

.summary-tools{
  clear: left;
}

.summary-title{
  text-align: center;
  text-transform: uppercase;
}

.summary-content{
  margin: 10px;
}

.role-list{
  list-style-type: disc;
}

.summary-list-item{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.summary-item-img{;
  display: block;
  height: 80px;
  width: 150px;
  margin: 0 auto;
}

.item-tool-img{
  width: 60px;
  height: 60px;
}

.icon-apple2{
  position: relative;
  bottom: 4px;
  font-size: 60px;
  text-align: center;
}

@media screen and (min-width: 340px){

  .work-item{
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 380px){
  .summary-list-item{
    width: 32%;
  }
}


/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 760px){
  
  /* WORK THUMBS */

  .work-list{
    margin-right: auto;
    margin-left: auto;
  }

  .desc-btn-back{
    left: -60px;
  }
  
  .work-desc-title{
    margin-left: 0;
  } 
}

@media screen and (min-width: 940px){

  .work-container{
    height: 1000px;
  }
    
  .work-item{
    float: left;
    margin: 1%;
    width: 31%;
  }
}

@media screen and (min-width: 1024px){

  /* SHOW OVERLAY FOR DESKTOP */
  .work-overlay-over{
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }

  .work-project-title{
    display: none;
  }

}

/* -----------------------------------------------
  :: CLIENTS MODULE
  --------------------------------------------- */

/* ------------
:: Mobile
---------- */

/* NAV */

.client-nav-control{
  display: none;
}

.client-nav-list{
  width: 150px;
  margin: 0 auto 60px auto;
}

.client-nav-item{
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #e5eaee;
  padding:8px;
  cursor: pointer;
}

.client-nav-item-active{
  border: 2px solid #c99065;
}

.client-nav-item:nth-of-type(-n+3){
  margin-right: 19px;
}

/* NO JS */

.no-js .client-item{
  display: block;
}

.no-js .client-nav-control{
  display: none;
}

/* CLIENT WRAPPER*/

.client-item{
  display: none;
}

.client-item-active{
  display: block;
}

/* FACE */

.client-face{
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  height: 100px;
}

.client-details{
  text-align: center; 
}

.client-name{
  margin-bottom: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.client-position{
  margin-top: 0;
  font-size: 0.8em;
  font-weight: 400;
  color: #999;
}

/* QUOTE */

.client-quote{
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.client-quote-mark{
  width: 58px;
  height: 58px;
  position: absolute;
  z-index: -1;
  left: 6px;
  top: -17px;
}

.client-quote-mark svg{
  width: inherit;
}

.client-quote-mark path{
  fill: #f1e2d6;
}

.client-quote-msg{
  margin: 30px 30px;
  font-size: 1.2em;
  line-height: 2;
  font-weight: 100;
}

/* CLIENT LOGOS */

.client-logo-list{
  display: none;
}


/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width:760px){

  .client-module{
    position: relative;
  }

  /* NAV CONTROLS */

  .client-nav-list{
    display: none;
  }

  .client-nav-control{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .client-control{
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  
  .client-control svg{
    width: 40px;
    height: 40px;
  }

  .client-control path{
    fill: #c99065;
  }

  .control-prev{
    left: 10px;
  }

  .control-next{
    right: 10px;
  }

  /* CLIENT WRAPPER / FACE / QUOTE */

  .client-info{
    float: left;
    margin-top: 45px;
  }

  .client-quote{
    float: right;
  }

  .client-quote-mark{
    top: 6px;
    left: -9px;
  }

  .client-quote-msg{
    line-height: 1.8;
    margin-right: 0;
    margin-left: 0;
  }

  .client-item{
    max-width: 640px;
    margin: 0 auto;
  }

  .client-item:after{
    content: "";
    display: table;
    clear: both;
  }

  /* CLIENT LOGOS */

  .client-logo-list{
    display: block;
    margin:0 auto;
    max-width: 800px;  
  }

  .client-logo-item{
    display: inline-block;
    opacity: 0.5;
    margin:20px;
    padding-bottom: 20px;
  }

  .client-logo-item-active{
    opacity: 1;
    border-bottom: 4px solid #c99065;
  }
}

/* -----------------------------------------------
  :: CONTACT MODULE
  --------------------------------------------- */

.social-list{
  height: 180px;
  max-width: 500px;
  margin: 0 auto;
}

.social-item{
  display: inline-block;
  margin-top: 40px;
}

.social-item a{
  border-radius: 50%;
  border: 2px solid #c99065;
  font-size: 31px;
  padding:10px;
  margin: 20px;
}

.contact-bar{
  width: 250px;
  height: 0;
  margin: 0 auto;
  border: 2px solid #c99065;
}

.contact-email{
  width: 100%;
  margin: 52px auto 0 auto;
  text-align: center;
}

.contact-email a{
  font-size: 1.3em;
  font-weight: 300;
}

/* FLEXBOX */

.flexbox .social-list{
  height: 150px;
  max-width: 700px;
  margin: 22px auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around; 
}

.flexbox .social-item{
  margin: 0;
}

/* ---------------
  :: Small Mobile
  ----------------- */
@media screen and (max-width: 320px){

  .contact-email a{
    font-size: 1em;
    font-weight: 300;
  }
}

/* ----------------------------
  :: Large Mobile - Phablets
  ---------------------------- */

@media screen and (min-width: 480px){
  
  .contact-title{
    padding-top: 104px;
  }

  .contact-email{
    width: 420px;
  }

  .contact-email a{
    font-size: 1.9em;
  }
}

/* -----------------------------------------------
  :: FORM MODULE
  --------------------------------------------- */

.contact-form{
  max-width: 450px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-form label{
  font-size: 0.9em;
}

.contact-form input{
  width: 100%;
  border: 3px solid #c99065;
  padding: 10px;
  box-sizing: border-box;
}

.contact-form input:focus{
  border-color: #e1c285;
}

.form-details:focus{
  border-color: #e1c285; 
}

.contact-form input:nth-of-type(-n+1){
  margin-bottom: 22px;
}

.form-details{
  width: 100%;
  height: 160px;
  overflow: hidden;
  border: 3px solid #c99065;
  box-sizing: border-box;

}

.form-info{
  margin-bottom: 20px;
}

.contact-form input[type="submit"]{
  background-color: #c99065;
  border: 3px solid #c99065;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
}

.contact-form input[type="submit"]:hover{
  background-color: #e1c285;
}

@media screen and (min-width: 540px){

  .contact-form label{
    width: 220px;
  }

  /* SUBMIT BUTTON */

  .contact-form input[type="submit"]{
    float: right;
    width: 154px;
  }

  /* NAME FIELD */

  label[for="name"]{
    float:left;
  }

  .contact-form input[name="name"]{
    float: left;
    clear: left;
    width: 49%;
  }

  /* EMAIL FIELD */

  label[for="email"]{
    float: right;
    margin-top: -19px;
  }

  .contact-form input[name="email"]{
    float: right;
    clear: right;
    width: 49%;
    margin-left: 2%;
  }

}

/* -----------------------------------------------
  :: FOOTER
  --------------------------------------------- */

.site-footer{
  height: 163px;
}

.logo-footer{
  float: left;
  top: 63px;
}

.footer-info{
  float: left;
  width: 70%;
  font-size: 0.8em;
  margin-left: 73px;
  margin-bottom: -30px;
}

.footer-wrap{
   padding-bottom: 0;
   padding-top: 0;
   padding-left: 29px;
}

.footer-wrap:after{
  content: "";
  display: block;
  clear: both;
}

.footer-nav-item:nth-of-type(-n+3){
  margin-right: 30px;
}

.footer-nav-item{
  display: inline-block;
  
}

.footer-nav-item a{
  text-transform: uppercase;
  color: gray;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  
}

.footer-copyright{
  text-transform: uppercase;
  font-weight: 400; 
}

/* ---------------
  :: Small Mobile
  ----------------- */

@media screen and (min-width: 360px){

  .logo-footer{
    top: 0;
  }

  .footer-wrap{
    padding: 37px;
  }

  .footer-info{
    margin-left: 35px;
    margin-top: 11px;
  }
}

/* ---------------
  :: Large Mobile
  ----------------- */

@media screen and (min-width: 530px){
  .site-footer{
    height: 141px;
  }
}




