/* ---------->>> GLOBAL <<<-----------*/

* { box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

li{ display: inline-block; }

a{
  color:white;
  text-decoration: none;
}

/* ---------->>> lAYOUT <<<-----------*/

/* update browser warning */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* clearfix */

.row:before,
.row:after{
  content: "";
  display:table;
  clear:both;
}

/*-- columns and gutters --*/

[class*='col-']{
  float:left;
  min-height: 1px;
  width: 16.66%;
  padding:12px;
}

.col-1 { width: 16.66%;} 
.col-2 { width: 33.33%;} 
.col-3 { width: 50%;}
.col-4 { width: 66.66%;} 
.col-5 { width: 83.33%;} 
.col-6 { width: 100%;} 

/*.outline, .outline *{ outline: 1px solid #F6A1A1; } */

[class*='col-'] > * {
  /* background-color: #FFC2C2; */
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.main-col { height: 700px; }

/* ---------->>> LAYOUT MEDIA QUERIES <<<-----------*/

@media all and (max-width:1024px){ }

@media all and (max-width: 650px){  
  .col-1{ width: 100%;}
  .col-2{ width: 33.33%;}
  .col-3{ width: 33.33%;}
  .col-4{ width: 66.66%;}
  .col-5{ width: 100%;}
  .col-6{ width: 100%;}
}

/* ---------->>> MAIN HEADER <<<-----------*/

header[class=nav-top]{
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo{
  float: left;
  display: block;
  font-size: 18px;
  margin-top: 10px;
  border: 1px solid white;
  padding: 11px 5px 5px 5px;
  margin-left: 15px;
}

header[class=nav-top] > nav{ 
  float: right;
  width: 73%;
  margin-top: 10px;
}

header[class=nav-top] li{
  margin-right: 9%;
}

.is-nav-visible{
  display: inline;
}

.is-nav-hidden{
  display: none;
}




/* ---------->>> MODULES <<<-----------*/

.module{
  position: relative;
  top:100px;
}

/* ---------->>> INTRO <<<-----------*/

.main-col-6-1{
  background-color: #B81D18;
  position: relative;
  z-index: -1;
}

.module-intro{
  position: fixed;
}

/* ---------->>> WORK  <<<-----------*/

.main-col-6-2{
  background-color: #202020;
}

/* gallery slider */

.module-content-work{
  overflow: scroll;
}

.gallery-work {
    width: 1220px;
    left:-20px;
    position: relative;
}

.work-thumb-list{
  float: left;
}

.work-thumb-list img{
  width: 70px;
  height: 70px;
}


/* ---------->>> EXPERIMENTS <<<-----------*/

.main-col-6-3{
  background-color: #004687;
}

.module-experiments{ }

/* ---------->>> BLOG  <<<-----------*/

.main-col-6-4{
  background-color: #428F89;
}

.module-blog{ }

.posts li{
  display:block;
}