/* -----------------------------------------------
  :: FOOTER
  --------------------------------------------- */

.site-footer{
  height: 163px;
}

.logo-footer{
  float: left;
  top: 63px;
}

.footer-info{
  float: left;
  width: 70%;
  font-size: 0.8em;
  margin-left: 73px;
  margin-bottom: -30px;
}

.footer-wrap{
   padding-bottom: 0;
   padding-top: 0;
   padding-left: 29px;
}

.footer-wrap:after{
  content: "";
  display: block;
  clear: both;
}

.footer-nav-item:nth-of-type(-n+3){
  margin-right: 30px;
}

.footer-nav-item{
  display: inline-block;
  
}

.footer-nav-item a{
  text-transform: uppercase;
  color: gray;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  
}

.footer-copyright{
  text-transform: uppercase;
  font-weight: 400; 
}

/* ---------------
  :: Small Mobile
  ----------------- */

@media screen and (min-width: 360px){

  .logo-footer{
    top: 0;
  }

  .footer-wrap{
    padding: 37px;
  }

  .footer-info{
    margin-left: 35px;
    margin-top: 11px;
  }
}

/* ---------------
  :: Large Mobile
  ----------------- */

@media screen and (min-width: 530px){
  .site-footer{
    height: 141px;
  }
}