/**
* @name 	Title
*/

.title, 
.subtitle{
 	text-align: center;
	text-transform: uppercase;
	letter-spacing: $normal-letter-spacing;
	color: $title-color;
}

/* :: CUSTOM ------------ */

.section__title{
	margin-bottom: 3.125em;
}