/**
* @name         Layout    
* @requires     Susy
*/

// :: GRID ------------  

@import "../../../bower_components/susy/sass/susy";

$susy: (
	columns: 12,
	global-box-sizing: border-box,
	gutter-position: split
);

@include layout(12);
@include border-box-sizing;

/* :: FIXES ------------ */

// Clear fix
%clearfix{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

/* :: SECTIONS ------------ */

.section, .section__wrapper{
	padding: 3.125em 0;
}

.section{
	@extend %clearfix;
	@include container($main-layout);
}

.section__wrapper{
	background-color: $section-bkg-color;
}

.section--wrapped{
	padding-bottom: 0;
}