/**
* @name         Layout    
* @requires     Susy
*/

// :: GRID ------------  

@import "../../../bower_components/susy/sass/susy";

$susy: (
	columns: 12,
	global-box-sizing: border-box,
	gutter-position: split
);

@include layout(12);
@include border-box-sizing;

// :: LAYOUT VARIABLES ------------  

// Layout width
$main-layout: 80%;
$medium-layout: 85%;
$wide-layout: 90%;

// Media queries 
$break-sm: 400px;
$break-med: 640px;
$break-lrg: 960px;

/* :: FIXES ------------ */

// Clear fix
%clearfix{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

/* :: SECTIONS ------------ */

.section{
	@extend %clearfix;
}

.main{
	@include container($main-layout);
}