/**
* @name         Typography    
* @requires     _vars.scss
*/

/* :: HEADINGS ------------ */

.gigantic, 
.huge, 
.large, 
.bigger, 
.big,
{
  font-weight: bold;
}

.gigantic{
  font-size: $gigantic-font;
  line-height: $lil-line-height;
  letter-spacing: $narrow-letter-spacing;
}

.huge{
  font-size: $huge-font;
  line-height: $tiny-line-height;
  letter-spacing: $skinny-letter-spacing;

}

.large{
  font-size: $large-font;
  line-height: $short-line-height;
}

.bigger{
  font-size: $bigger-font;
  line-height: $tall-line-height;
}

.big{
  font-size: $big-font;
  line-height: $tall-line-height;
}

.medium{
  font-size: $medium-font;
  line-height: $normal-line-height;
}

.small{
  font-size: $small-font;
  line-height: $normal-line-height;
}


/* :: BASE TYPE ------------ */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: $font-default-color;
  -webkit-font-smoothing: antialiased;
  background-color: $body-bg-color;
}

.description{
  @include container($desc-layout-width);
  text-align: center;
  font-weight: $light;
}
