/**
* @name         Typography    
* @requires     _vars.scss
*/

/* :: HEADINGS ------------ */

.gigantic, 
.huge, 
.large, 
.bigger, 
.big,
{
  color: $font-default-color;
  font-weight: bold;
}

.gigantic{
  font-size: $gigantic-font;
  line-height: $lil-line-height;
  letter-spacing: $narrow-letter-spacing;
}

.huge{
  font-size: $huge-font;
  line-height: $tiny-line-height;
  letter-spacing: $skinny-letter-spacing;

}

.large{
  font-size: $lrg-font;
  line-height: $short-line-height;
}

.bigger{
  font-size: $x-lrg-font;
  line-height: $tall-line-height;
}

.big{
  font-size: $lrg-font;
  line-height: $tall-line-height;
}

.medium{
  font-size: $med-font;
  line-height: $normal-line-height;
}

.small{
  font-size: $sm-font;
  line-height: $normal-line-height;
}


/* :: BASE TYPE ------------ */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: $body-font-color;
  -webkit-font-smoothing: antialiased;
  background-color: $body-bg-color;
}

.title, 
.subtitle{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $title-color;
}

.description{
  text-align: center;
}
