// @name 	Variables

// :: COLORS ------------ //

// Colors - Source: http://chir.ag/projects/name-that-color/
$sirocco: #738685;
$oslo-gray: #829392;
$white:  #fff;
$gray:   #aaa;
$black:  #111;

// Sections
$body-bg-color: $white;
$body-font-color: $oslo-gray;
$font-default-color: $black;
$title-color: $sirocco;


// :: TYPOGRAPHY ------------ //

// Font sizes
$gigantic-font: 6.875em;
$huge-font: 4.250em;
$xx-lrg-font: 2.625em; 
$x-lrg-font: 1.8em;
$lrg-font: 1.365em;
$med-font:  1em;
$sm-font: 0.938em;

// Line height
$tall-line-height: 1.38;
$normal-line-height:  1.2;
$short-line-height: 1.14;
$lil-line-height: 1.09;
$tiny-line-height: 1.05;

// Letter spacing
$narrow-letter-spacing: -0.1252em;
$skinny-letter-spacing: -0.063em;