/**
* @name 	Addresss    
*/

.address{
	text-align: center;
	font-size: $big-font;
  	font-weight: $light;
  	font-style: normal;

	@media screen and (min-width:$break-sm){
		font-size: $biggest-font;		
	}
}

.address__link:hover{
	color: $address-hover-color;
}

  