/**
* @name 		Addresss    
* @requires     _vars.scss
*/

.address{
	text-align: center;
	font-size: $medium-font;
	font-weight: $regular;
	font-style: normal;
	@media screen and (min-width:$break-social-sm){
		font-size: $big-font;
		font-weight: $light;
	}
	@media screen and (min-width:$break-sm){
		font-size: $biggest-font;		
	}
	&__link:hover{
		color: $address-hover-color;
	}
}
  