/* -----------------------------------------------
  :: CONTACT MODULE
  --------------------------------------------- */

.social-list{
  height: 180px;
  max-width: 500px;
  margin: 0 auto;
}

.social-item{
  display: inline-block;
  margin-top: 40px;
}

.social-item a{
  border-radius: 50%;
  border: 2px solid #c99065;
  font-size: 31px;
  padding:10px;
  margin: 20px;
}

.contact-bar{
  width: 250px;
  height: 0;
  margin: 0 auto;
  border: 2px solid #c99065;
}

.contact-email{
  width: 100%;
  margin: 52px auto 0 auto;
  text-align: center;
}

.contact-email a{
  font-size: 1.3em;
  font-weight: 300;
}

/* FLEXBOX */

.flexbox .social-list{
  height: 150px;
  max-width: 700px;
  margin: 22px auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around; 
}

.flexbox .social-item{
  margin: 0;
}

/* ---------------
  :: Small Mobile
  ----------------- */
@media screen and (max-width: 320px){

  .contact-email a{
    font-size: 1em;
    font-weight: 300;
  }
}

/* ----------------------------
  :: Large Mobile - Phablets
  ---------------------------- */

@media screen and (min-width: 480px){
  
  .contact-title{
    padding-top: 104px;
  }

  .contact-email{
    width: 420px;
  }

  .contact-email a{
    font-size: 1.9em;
  }
}