/**
* @name         Control  
* @requires     _vars.scss
*/

.control__wrapper{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.control{
  position: absolute;
  z-index: 10;
  top: 50%;
  cursor: pointer;
}

.control--back path{
  fill: rgba(0, 0, 0, 0.4);
}

.control__img{
  width: 48px;
  height: 48px;
}

.control__img__content{
  opacity: 0.3; 
}

/* TESTIMONIAL CONTROLS */

.testimonial__control--prev{
  left: -16%;
  @media screen and (min-width:$break-control-x-sm){
    left: -12%;
  }
  @media screen and (min-width:$break-control-sm){
    left: -8%;
  }
  @media screen and (min-width:$break-lrg){
    left: 0%;
  }
}

.testimonial__control--next{
  right: -23%;
  @media screen and (min-width:$break-control-x-sm){
    right: -14%;
  }
  @media screen and (min-width:$break-control-sm){
    right: -8%;
  }
	@media screen and (min-width:$break-lrg){
    right: 0%;
  }
}

/* :: DETAIL CONTROLS -------------- */

.detail__control--back{
  position: absolute;
  display: inline-block;
  float: left;
  left: -0.3em;
  top: 0.1em;
  cursor: pointer;
  opacity: 0.5;
  @media screen and (min-width: $break-lrg){
    left: -3.75em;
  }
  &:hover{
    opacity: 1;
  }
}

.detail__control--back svg{
  width: 48px;
  height: 48px;
}

.detail__control__wrapper{
  display: none;
  @media screen and (min-width:$break-lrg){
    display: block;
  }
}

.detail__control{
  top: 33%;
}

.detail__control--prev{
  left: -15%;
}

.detail__control--next{
  right: -15%;
}

/* :: NO JS ------------ */

.no-js .control__wrapper{
  display: none;
}
