/**
* @name         Control  
* @requires     
*/

.control--back{
  display: inline-block;
  float: left;
  position: absolute;
  left: 0.25em;
  opacity: 0.5;
}

.control__img--back{
  width: 48px;
  height: 48px;
  margin-left: -4px;
}

.control__img__content{
  opacity: 0.3; 
}

.controls{
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.testimonial__control--prev{
  left: -16%;
  @media screen and (min-width:$break-control-x-sm){
    left: -12%;
  }
  @media screen and (min-width:$break-control-sm){
    left: -8%;
  }
  @media screen and (min-width:$break-lrg){
    left: 0%;
  }
}

.testimonial__control--next{
  right: -23%;
  @media screen and (min-width:$break-control-x-sm){
    right: -19%;
  }
  @media screen and (min-width:$break-control-sm){
    right: -8%;
  }
	@media screen and (min-width:$break-lrg){
    right: 0%;
  }
}
