/**
* @name         Detail   
* @requires     _layout.scss, _vars.scss
*/

/* :: LAYOUT ------------ */

.detail__page__section{
  max-width: 100%;
}

.detail__content{
  @include container(37.5em);
  position: relative;
  padding: 0 1em;
}

.detail__content__wrapper{
  position: relative;
  z-index: 1;
}

.detail__subsection{
    margin: 2em 0;
    @include susy-clearfix;
}

/* :: SLIDER ------------ */

.detail__slider{
  margin-top: 2em;
}

/* :: TYPOGRAPHY ------------ */

.detail__title{
  float: left;
  margin: 0 0 0.56em 1.5625em;
  text-align: left;
  font-weight: $light;
  @media screen and (min-width: $break-lrg){
    margin-left: 0;
  }
}

.detail__description{
  clear: left;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.detail__summaries{
  margin-top: 5em;
}

/* :: LISTS ------------ */

.role__lists{
  @media screen and (min-width: $break-sm){
    @include container(30em);
  }
}

.role__list{
  @include span(12);
  @media screen and (min-width: $break-sm){
    @include span(6);
  }
}


.role__item{
  display: list-item;
  font-weight: $light;
  width: 14em;
  margin:0 auto;
  &:before{
    content: "- ";
  }
}

.press__item, .tool__item{
  width: 32%;
}

/* :: TEAMSTORY MEDIA ------------ */

.press__image{
  width: 150px;
  height: 80px;
}

.tool__image{
  width: 60px;
  height: 60px;
}

.apple{
  position: relative;
  bottom: 4px;
  text-align: center;
}

.teamstory__media{
  max-width: 22.5em;
  width: 100%;
}

/* :: NO JS ------------ */

.no-js .detail__slide{
  margin: 2em 0;
}

