/**
* @name         Detail   
* @requires     _layout.scss, _vars.scss
*/

/* :: LAYOUT ------------ */

.detail__page__section{
  max-width: 100%;
}

.detail__content{
  @include container(37.5em);
  position: relative;
  padding: 0 1em;
}

/* :: CONTROLS -------------- */

.detail__controls{
  top: 33%;
}

.detail__control--prev{
  left: -15%;
}

.detail__control--next{
  right: -15%;
}

/* :: TYPOGRAPHY ------------ */

.detail__title{
  font-weight: $light;
  float: left;
  margin: 0 0 0.56em 0;
  text-align: left;
}

.detail__description{
  clear: left;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

/* :: LISTS ------------ */

.role__list{
  list-style-type: disc;
  margin-left: 1em;
}

.role__item{
  display: list-item;
}

.press__item, .tool__item{
  width: 32%;
}

/* :: MEDIA ------------ */

.press__image{
  width: 150px;
  height: 80px;
}

.tool__image{
  width: 60px;
  height: 60px;
}

.apple{
  position: relative;
  bottom: 4px;
  text-align: center;
}

