/**
* @name         Footer    
* @requires     _layout.scss, _vars.scss
*/

/* :: FOOTER NAV ------------ */

.footer__nav{
  @include container($wide-layout);
  padding: 3em 0;
}

.footer__nav__list{
  float: left;
  text-align: center;
  @media screen and (min-width:$break-sm){
    text-align: left;
  }
}

.footer__nav__item{
  padding-right: 0.95em;
  @media screen and (min-width:$break-med){
    padding-right: 3em;
  }
}

/* :: FOOTER COPYRIGHT ------------ */

.footer__copyright{
  @include span(12);
  clear: both;
  margin-top: 1em;
  font-size: $small-font;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  @media screen and (min-width:$break-footer-x-sm){
    margin-top: 0;
    text-align: left;
  }
}