/**
* @name         Form    
* @requires     _layout.scss
*/

.form{
	@media screen and (min-width:$break-med){
		@include container(30em);
	}
}

.form__submit, .form__field, .form__label{
	@include span(12);
}

.form__field, .form__details, .form__submit{
	border: 3px solid $form-color;
  	padding: 10px;
}

.form__fields{
	margin: 2em 0;
	padding: 0;
	border: none;
}	

.form__label{
	font-size: $small-font;
	text-transform: uppercase;
}

.form__name{
	margin-bottom: 1em;
}

.form__submit{
	background-color: $form-color;
	color: #fff;
	padding: 10px;
	font-size: 18px;
	margin-top: 20px;
	@media screen and (min-width:$break-med){
  		@include span(4 of last);
  	}
  	&:hover{
  		background-color: $form-hover-color;
  	}
}

.form__details{
  	@include span(12);
  	height: 10em;
  	overflow: hidden;
  	resize: none;
}

