/**
* @name         Gallery    
* @requires     _layout.scss, _vars.scss
*/

.gallery__section{
  @include container($wide-layout);
}

.gallery__subsection{
  padding-top: 0;
  @media screen and (min-width: $break-lrg){
      @include container($medium-layout); 
  }
}

.gallery__list{
  margin: 0 auto;
}

.gallery__media{
  float: left;
  max-width: 600px;
  width: 100%;
}

.gallery__title{
	margin: 1.0625em 0;
	text-align: left;
	font-weight: $bold;
	color: $light-title-color;
  @media screen and (min-width:$break-lrg){
    display: none;
  }
}

.gallery__item{
  @media screen and (min-width:$break-lrg){
    @include span(4);
    position: relative;
  }
}

/* :: NO JS ------------ */

.no-js .gallery__title{ 
  display: block;
}
