/**
* @name         Gallery    
* @requires     _layout.scss
*/

.gallery__section{
  @include container($wide-layout);
}

.gallery__subsection{
  padding-top: 0;
  @media screen and (min-width: $break-med){
      @include container($medium-layout); 
  }
}

.gallery__image{
  float: left;
  width: 100%;
  max-width: $gallery-media-width;
  height: $gallery-media-height;
}

.gallery__title{
	margin: 1.0625em 0;
	text-align: left;
	font-weight: $bold;
	color: $light-title-color;
  @media screen and (min-width:$break-lrg){
    display: none;
  }
}

.gallery__item{
  @media screen and (min-width:$break-med){
    @include span(4);
    
  }

  @media screen and (min-width:$break-lrg){
    position: relative;
  }
}

