/**
* @name         Header
* @requires     _layout.scss, _vars.scss
*/
 
.header{ 
  padding-top: 4em;
  padding-bottom: 7.7em;
  @media screen and (min-width:$break-med){
    padding-bottom: 13.2em;
  }
} 

.header__title,
.header__subtitle{
  color: $white;
}
 
.header__wrapper{
  @include container($full-layout);
  @media screen and (min-width:$break-sm){
    @include container($medium-layout);
  }
  @media screen and (min-width:$break-med){
    @include container($wide-layout);
  } 
}

.hero{
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) ), 
               url('../img/sunny-beach-480-small.jpg');
  background-position: center center;
  background-size: cover;
  @media screen and (min-width:$break-med){
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) ), url('../img/sunny-beach-960-medium.jpg');
    background-position: center center;
    background-size: cover;
  }
  @media screen and (min-width:$break-lrg){
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) ), url('../img/sunny-beach-1920-large.jpg');
    background-position: center center;
    background-size: cover;
  }
}

/* :: HEADER TITLES ------------ */

.header__title{
  margin-top: 1.5em;
  font-weight: 700;
  @media screen and (min-width:$break-med){
    font-size: ($large-font - 0.5);
  }@media screen and (min-width:$break-lrg){
    font-size: $large-font;
  }
}

.header__subtitle{
  font-weight: 500;
}

/* :: HEADER NAV ------------ */

.header__nav{
  min-width: 10.87em;
  width: 13em;
  margin: 0 auto;
  @media screen and (min-width:$break-nav-sm){
    width: 100%;
  }

  &__list{
      text-align: center;
      @media screen and (min-width:$break-sm){
        text-align: left;
      }
      @media screen and (min-width:$break-med){
        float: right;
      }
  }
}

.header__nav__item{
  margin-left: 1em;
  margin-right: 1em;
  @media screen and (min-width:$break-nav-sm){
    margin:0;
    padding-right: 0.95em;
    &:last-child{
      padding-right: 0; 
    }
  }
}

