/**
* @name         Header
* @requires     _layout.scss
*/

.header{
  padding-top: 2.5em;
  padding-bottom: 6.2em;
}

.header__title,
.header__subtitle{
  color: $white;
}

.header__wrapper{
  @include container($main-layout);
  @media screen and (min-width:$break-med){
    @include container($full-layout);
  }
}

.hero{
  background: url('../img/sunny-beach.jpg') center center;
  background-size: cover;
}

/* :: HEADER TITLES ------------ */

.header__title{
  margin-top: 1.5em;
  font-weight: 700;
  @media screen and (min-width:$break-med){
  }
}

.header__subtitle{
  font-weight: 500;
}

/* :: HEADER NAV ------------ */

.header__nav{ 
  
}

.header__nav__list{
  text-align: left;
  @media screen and (min-width:$break-med){
    float: right;
  }
}

.header__nav__item{ 
  padding-right: 0.95em;
}

