/* -----------------------------------------------
  :: MODULES
  --------------------------------------------- */

  /* ------------
  :: Mobile
  ---------- */

/* clear fix hack to contain floats and margins */ 
.module:before, .module:after{
  content: "";
  display: table;
}

.module:after{
  clear: both;
}

.module{
  padding-bottom: 100px;
}

.module:nth-of-type(2n){
  background-color: #B8D5DB;
}

.module-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
  color: #738685;
  padding: 50px 0;
}

.sub-title{
  padding: 10px;
  font-size: 1em;
}

.work-project-title{
  font-size: 1.3em;
}