/**
* @name         Navigation    
* @requires     _layout.scss
*/

.nav{
	@include susy-clearfix;
}

.nav__item{
	text-transform: uppercase;
}

.nav__link{
  color: white;
  font-weight: 600;
  font-size: 0.9em;
}

.nav__link:hover{
  color: rgba(0,0,0,1);
}