/**
* @name         Overlay   
* @requires     _vars.scss
*/

.overlay__title{
  position: relative;
  top: 30%;
  font-weight: $light;
  transform: translateY(-50%);
  color: $light-title-color;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.2s ease;
  transform: scale(0, 0);
  background-color: $overlay-color;
  &--over{
    @media screen and (min-width:$break-lrg){
      transform: scale(1, 1);
      cursor: pointer;
    }
  }
}