/**
* @name         Container slider
* @requires     _layout.scss
*/

.page-slider{
 	overflow-x: hidden;
}

.page-slider__content{
	width: 200%;
  	@include susy-clearfix;
}

.page-slider__first{
	width: 50%;
	float: left;
	transition: transform 1s ease;
	overflow-y: auto;
	&--hide{
		transform: translateX(-100%);
	}
}

.page-slider__second{
	position: relative;
	overflow: hidden;
	float: right;
	width: 50%;
	max-height: 0;
	opacity: 0;
	transition: transform 1s ease, opacity 2s ease, max-height 1s linear;
	&--active{
		opacity: 1;
		max-height: 1000em;
		transform: translateX(-100%);
	}
}