/**
* @name         Social List    
* @requires     layout.scss
*/

.social__list{
	@extend %clearfix;
	text-align: center;
	margin-bottom: 10em;
	@media screen and (min-width:$break-med){
		@include container(75%);
	}
}

.social__item{
	@include span(6);
	@media screen and (min-width:$break-social-sm){
		@include span(4);
	}
	
	// move third item to its own rowf for small screens
	&:nth-of-type(n+3){
		@include span(12);
		margin-top: 2em;
		@media screen and (min-width:$break-social-sm){
			margin-top: 0;
			@include span(4);
		}
	}
}

.social__link{
	padding: 0.625em;
	border-radius: 50%;
	border: 2px solid $social-list-color;
	font-size: $big-font;
}

.social__link:hover{
	border-color: $social-hover-color;
	color: $social-hover-color;	
}