/**
* @name         Specialty    
* @requires     _layout.scss, _vars.scss
*/

.specialty{
	@include susy-clearfix;
}

.specialty__item{
	@include span(6); 
	margin-top: 3.125em;
	text-align: center;
	@media screen and (min-width:$break-med){
		@include span(3);
	}
}

.item__pencil{
	margin-top: 3.725em;
}

.icon-pencil{
	font-size: 2.8em;
}

.specialty__description{
	margin-top: 2.5em;
}

