/**
* @name         Testimonial 
* @requires
*/

/* :: CONTROL ------------ */

.testimonial__control{
	position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.testimonial__slider{
  width: 100%;
  max-width: 26.37em;
  margin: 4em auto;
  @media screen and (min-width:$break-lrg){
    width: 37.5em;
    max-width: 37.5em;
  }
}

.testimonial__item{
  width: 100%;
  max-width: 26.37em;
  @media screen and (min-width:$break-lrg){
    width: 37.5em;
    max-width: 37.5em;
  }
}

/* :: DETAILS ------------ */

.testimonial__person{
  @media screen and (min-width:$break-med){
    margin-top: 45px;
  }

  @media screen and (min-width:$break-lrg){
    float: left;
  }
}

.testimonial__detail{
  text-align: center;
}

.testimonial__item:after{
  @extend %clearfix
}

.testimonial__item--hidden{
  display: none;
}

.testimonial__item--active{
  display: block;
}

.testimonial__name, .testimonial__position{
  margin: 0;
  font-weight: $regular;
  letter-spacing: 1px;
}

.testimonial__position{
  color: #999;
  text-transform: none;
}

/* QUOTE */

.testimonial__quote{
  position: relative;
  @include container(25em);
  @media screen and (min-width:$break-med){
    float: right;
  }
}

.testimonial__quote__mark{
  position: absolute; 
  z-index: -1;
  left: 6px;
  top: -17px;
  width: 58px;
  height: 58px;
  @media screen and (min-width:$break-med){
    top: 10px;
    left: -9px;
  }
}

.quote__img{
  width: inherit;
}

.quote__img__content{
  fill: #f1e2d6;
}

.quote__msg{
  margin: 30px 30px;
  font-size: 1.2em;
  line-height: 2;
  font-weight: 100;
  @media screen and (min-width:$break-med){
    line-height: 1.8;
    margin-right: 0;
    margin-left: 0;
  }
}